<p style="color: green"><%= notice %></p>

<% content_for :title, "Bookings" %>

<h1>Bookings</h1>

<div id="bookings">
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <div class="p-4 border rounded-lg shadow-md flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <%= link_to booking_path(booking), class: "hover:text-blue-600" do %>
            <p>Booking for <%= booking.room.name %> by <%= booking.user.username %></p>
          <% end %>
        </div>

        <% if booking.complete %>
          <span class="text-green-500">ยืนยันการจองแล้ว</span>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="text-gray-500">ยังไม่มีการจองห้องประชุม</p>
  <% end %>
</div>

<%= link_to "New booking", new_booking_path, class: "mt-4 inline-block bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition" %>
