<%
  # Define current step based on current page
  current_step = case controller_name
                when 'home'
                  1
                when 'bookings'
                  if action_name == 'new' || action_name == 'create'
                    3
                  elsif @booking&.complete
                    4
                  else
                    3
                  end
                else
                  1
                end

  steps = [
    { number: 1, text: 'เลือกช่วงเวลา', active: current_step == 1 },
    { number: 2, text: 'กลุ่มห้อง', active: current_step == 2 },
    { number: 3, text: 'รายละเอียด', active: current_step == 3 },
    { number: 4, text: 'เช็คอิน', active: current_step == 4 }
  ]
%>

<div class="w-full py-2">
  <div class="flex">
    <% steps.each_with_index do |step, index| %>
      <div class="flex-1">
        <div class="relative mb-1">
          <% if index > 0 %>
            <div class="absolute flex align-center items-center align-middle content-center" style="width: calc(100% - 1.5rem - 0.5rem); top: 50%; transform: translate(-50%, -50%)">
              <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                <div class="w-0 bg-violet-300 py-[2px] rounded <%= step[:active] ? 'w-full' : '' %> <%= steps[index-1][:active] ? 'w-full' : '' %>" style="transition: width 0.5s ease-in-out;"></div>
              </div>
            </div>
          <% end %>

          <div class="w-6 h-6 mx-auto <%= step[:active] ? 'bg-violet-500' : 'bg-gray-200' %> rounded-full text-xs text-white flex items-center">
            <span class="text-center w-full font-medium"><%= step[:number] %></span>
          </div>
        </div>

        <div class="text-[10px] text-center <%= step[:active] ? 'text-violet-500 font-medium' : 'text-gray-600' %>">
          <%= step[:text] %>
        </div>
      </div>
    <% end %>
  </div>
</div>