<%
  steps = [
    { number: 1, text: 'เลือกช่วงเวลาที่ต้องการจอง', active: true },
    { number: 2, text: 'กลุ่มของห้องประชุม', active: false },
    { number: 3, text: 'ตรวจสอบรายละเอียด', active: false },
    { number: 4, text: 'เช็คอินเมื่อถึงเวลา', active: false }
  ]
%>

<div class="w-full py-6">
  <div class="flex">
    <% steps.each_with_index do |step, index| %>
      <div class="flex-1">
        <div class="relative mb-2">
          <% if index > 0 %>
            <div class="absolute flex align-center items-center align-middle content-center" style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
              <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                <div class="w-0 bg-violet-300 py-1 rounded <%= step[:active] ? 'w-full' : '' %> <%= steps[index-1][:active] ? 'w-full' : '' %>" style="transition: width 0.5s ease-in-out;"></div>
              </div>
            </div>
          <% end %>

          <div class="w-10 h-10 mx-auto <%= step[:active] ? 'bg-violet-500' : 'bg-gray-200' %> rounded-full text-lg text-white flex items-center">
            <span class="text-center w-full font-bold"><%= step[:number] %></span>
          </div>
        </div>

        <div class="text-xs text-center md:text-base <%= step[:active] ? 'text-violet-500 font-medium' : 'text-gray-600' %>">
          <%= step[:text] %>
        </div>
      </div>
    <% end %>
  </div>
</div> 