<div id="<%= dom_id check_in %>">
  <p>
    <strong>User:</strong>
    <%= check_in.user_id %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= check_in.booking_id %>
  </p>

  <p>
    <strong>Check in:</strong>
    <%= check_in.check_in %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= check_in.created_at %>
  </p>

</div>
