<div class="container mx-auto">
  <%= render "shared/header" %>
  <%= turbo_frame_tag "schedule_calendar" do %>
    <%= render "shared/room_schedule" %>
  <% end %>
  <%= render "shared/welcome" %>
  <%= render "shared/bookings" %>
  <%= render "shared/action_button" %>
</div>
